.background-section{
  background-image: url("../img/imgsection.jpg");
  width: 100% !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.margin-subjudul{
  font-size: 20px;
  margin-bottom: 1rem !important;
}
.aaa:hover{
  color: black !important;

}
.font-buttonnav:hover{
  color: #09d2ed !important;
}
.margin-sub{
  margin-bottom: 1rem !important;
}

.style-buttonnav{
  background-color: #139fc6;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}
.style-buttonnav:hover{
  color: black !important;
}
.style-buttonnav2{
  background-color: white;
  color: #139fc6;
  border: none;
}
.style-buttonnav:hover{
  background-color: #ffffff;
  box-shadow: none;
}
.style-buttonnav2:hover{
  background-color: #139fc6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}
.font-buttonnav{
  color: #ffffff;
}
.font-buttonnav:hover{
  color: #139fc6;
}
.font-buttonnav2{
  color: #139fc6;
}
.font-buttonnav2:hover{
  color: #ffffff;
}
.nav-item{
  color: #ffffff;
}
.nav-item:hover{
  background-color:#139fc6 !important; 
  font-weight: bold;
}
.descrip_section{
  margin-left: 50px;
  margin-bottom: 100px;
}
.subtitle{
  margin-bottom: 0px; 
}
.aboutme{
  background-color: #ffffff;
  text-align: center;
}
.titleme{
  color: #139fc6;
  margin-top: 30px;
  margin-bottom: 30px;
}
.descme{
  color: #139fc6;
  margin-top: 20px;
  margin-bottom: 20px;
}
.contentme{
  color: #09d2ed;
  margin-top: 60px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 30px;
}
.styleme{
  color: #139fc6;
}
.marginrow{
  margin-bottom: 50px;
}
.our-service{
  background-color: #f9fafc;
  text-align: center;
}
.title-our{
  font-size: 30px;
  color: #139fc6;
  margin-top: 15px;
  margin-bottom: 60px;
}
.titleme-our{
  margin-top: 10px;
}

.contentme2{
  color: #139fc6;
  margin-top: 60px;
  margin-bottom: 15px;
}
.box:not(:last-child), .content:not(:last-child), .notification:not(:last-child), .progress:not(:last-child), .table:not(:last-child), .table-container:not(:last-child), .title:not(:last-child),
.subtitle:not(:last-child), .block:not(:last-child), .highlight:not(:last-child), .breadcrumb:not(:last-child), .level:not(:last-child), .list:not(:last-child), .message:not(:last-child), .tabs:not(:last-child) {
  margin-bottom: 1rem !important;
}
.display-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-left {
  text-align: left;
}
.flex-direction-column{
  display: flex;
  flex-direction: column;
}
.align-left{
  text-align: left !important;
}
.margin-right-10{
  margin-right: 5px;
}
.titleme-our2{
  margin-top: 10px;
  margin-left: 30px;
}
.ourserive-undertext{
  color: black;
  margin: 0 !important;
}
.ourserive-undertext2{
  color: #139fc6;
  margin-bottom: 20px;
}
.blacked{
  color: black !important;
}
.marginrow2{
  margin-bottom: 20px;
}
.get-started{
  background-color: #ffffff;
  text-align: center;
}
.title-started{
  color: black;
  margin-top: 20px;
  margin-bottom: 80px;
  font-size: 30px;
}
.row-started{
  margin-left:150px;
  margin-right: 160px;
  margin-bottom: 100px;
}
.desc-started{
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.back-footer{
  background-color: #139fc6;
} 

.table-footer{
  margin-bottom: 30px;
}
.row-footer{
  margin-top: 50px;
  margin-bottom: 80px;
}
.titleme-our3{
  color: black;
}
.text-margin{
  margin-bottom: 8px;
}
.position-content{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.text-dec{
  text-decoration: none;
  color: #ffffff;
}
.text-dec:hover{
  text-decoration: none;
}
.footer-copyright{
  color: black;
  font-size: 14px;
}
@media only screen and (max-width: 900px) {
  .responsif-ourservice{
    flex-direction: column !important;
  }
  .responsif-margin-ourservice{
    padding-top: 1rem;
  }
  .descrip_section{
    margin-left: 0px;
    margin-bottom: 100px;
  }
  .responsif-title{
    font-size: 25px;
  }
  .margin-subjudul{
    font-size: 15px;
  }
  .margin-sub{
    font-size: 10px;
  }
}